### Bliotecas

In [53]:
import os
import pandas as pd
import numpy as np
import random 
from sklearn.cluster import KMeans 
from sklearn.preprocessing import StandardScaler
from scipy.spatial import distance_matrix
import scipy.spatial.distance as ssd

### Abrindo arquivo

In [3]:
!cd

C:\Users\eduardo.zanutti\OneDrive - Apsen Farmaceutica S A\Documentos\jupyter_notebook\mba_datascience

In [12]:
cd C:\Users\eduardo.zanutti\OneDrive - Apsen Farmaceutica S A\Documentos\MBA DataScience\aula_5_analise_cluster\Nao_Supervisionado_USP\dados

C:\Users\eduardo.zanutti\OneDrive - Apsen Farmaceutica S A\Documentos\MBA DataScience\aula_5_analise_cluster\Nao_Supervisionado_USP\dados

In [15]:
files_path=!cd
files_path=files_path[0]

In [16]:
municipios_path=os.path.join(files_path,'municipios.csv')

In [13]:
ls

 O volume na unidade C ‚ OS
 O N£mero de S‚rie do Volume ‚ B250-E116

 Pasta de C:\Users\eduardo.zanutti\OneDrive - Apsen Farmaceutica S A\Documentos\MBA DataScience\aula_5_analise_cluster\Nao_Supervisionado_USP\dados

14/07/2021  16:10    <DIR>          .
14/07/2021  16:10    <DIR>          ..
03/02/2020  16:58                73 alunos_pap.csv
14/07/2021  16:09            17.774 cars_clus.csv
03/02/2020  14:53             1.503 MCDONALDS.csv
03/02/2020  14:53            39.475 municipios.csv
03/11/2020  11:49            13.810 notas_categ.xlsx
               5 arquivo(s)         72.635 bytes
               2 pasta(s)   64.277.606.400 bytes dispon¡veis

In [40]:
df_municipios=pd.read_csv(municipios_path,sep=';',encoding = "ISO-8859-1",decimal=',')

In [44]:
df_municipios

,Município,Pop_Menos_15Anos_2014,Pop_com_60Anoso_2014,Habitantes,area,taxa_natalidade,Esgoto_2010,Empregos_formais_2013,PIB
0,São Paulo,19.73,13.18,11245983,1521.10,15.09,92.26,5247898,499375.40
1,Campinas,18.17,13.75,1079140,794.43,13.93,87.02,436561,42766.02
2,Guarulhos,22.50,9.57,1220653,318.68,16.92,86.90,354409,44670.72
3,Ribeirão Preto,18.24,13.80,603774,650.96,13.15,97.48,230619,20300.80
4,Jundiaí,18.24,14.55,369710,431.17,14.26,95.90,181170,23712.62
...,...,...,...,...,...,...,...,...,...
640,Louveira,21.25,8.36,36989,55.13,17.43,86.71,18944,11173.99
641,Palmares Paulista,21.23,7.99,10910,82.13,11.59,99.68,802,97.20
642,Vista Alegre do Alto,18.82,11.91,6865,94.98,12.71,99.74,3528,183.24
643,Orindiúva,21.24,9.26,5660,248.11,12.08,99.39,3135,156.36
644,Gavião Peixoto,21.00,11.54,4416,243.77,15.19,99.82,3236,354.01

In [49]:
df_municipios.groupby(['Município']).count().max()

Pop_Menos_15Anos_2014    1
Pop_com_60Anoso_2014     1
Habitantes               1
area                     1
taxa_natalidade          1
Esgoto_2010              1
Empregos_formais_2013    1
PIB                      1
dtype: int64

In [50]:
df_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Município              645 non-null    object
 1   Pop_Menos_15Anos_2014  645 non-null    float64
 2   Pop_com_60Anoso_2014   645 non-null    float64
 3   Habitantes             645 non-null    int64
 4   area                   645 non-null    float64
 5   taxa_natalidade        645 non-null    float64
 6   Esgoto_2010            645 non-null    float64
 7   Empregos_formais_2013  645 non-null    int64
 8   PIB                    645 non-null    float64
dtypes: float64(6), int64(2), object(1)
memory usage: 45.5+ KB

In [51]:
df_municipios.index=df_municipios['Município']
df_municipios=df_municipios.iloc[:,1:]

In [52]:
df_municipios

,Pop_Menos_15Anos_2014,Pop_com_60Anoso_2014,Habitantes,area,taxa_natalidade,Esgoto_2010,Empregos_formais_2013,PIB
Município,,,,,,,,
São Paulo,19.73,13.18,11245983,1521.10,15.09,92.26,5247898,499375.40
Campinas,18.17,13.75,1079140,794.43,13.93,87.02,436561,42766.02
Guarulhos,22.50,9.57,1220653,318.68,16.92,86.90,354409,44670.72
Ribeirão Preto,18.24,13.80,603774,650.96,13.15,97.48,230619,20300.80
Jundiaí,18.24,14.55,369710,431.17,14.26,95.90,181170,23712.62
...,...,...,...,...,...,...,...,...
Louveira,21.25,8.36,36989,55.13,17.43,86.71,18944,11173.99
Palmares Paulista,21.23,7.99,10910,82.13,11.59,99.68,802,97.20
Vista Alegre do Alto,18.82,11.91,6865,94.98,12.71,99.74,3528,183.24
Orindiúva,21.24,9.26,5660,248.11,12.08,99.39,3135,156.36
Gavião Peixoto,21.00,11.54,4416,243.77,15.19,99.82,3236,354.01

In [61]:
x=df_municipios.values
x_std=StandardScaler().fit_transform(x)

In [63]:
df_municipios_padronizados=pd.DataFrame(x_std,columns=df_municipios.columns)

In [62]:
df_municipios.columns

Index(['Pop_Menos_15Anos_2014', 'Pop_com_60Anoso_2014', 'Habitantes', 'area',
       'taxa_natalidade', 'Esgoto_2010', 'Empregos_formais_2013', 'PIB'],
      dtype='object')